/* ========================================================================
 * ATOM: Base (Estilos de tags HTML)
 * ======================================================================== */
 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background-light);
    color: var(--color-text);
}

h1 {
    color: var(--color-primary);
    text-align: center;
    padding: var(--space-md);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}